{% extends 'base.html' %}
{% block body %}
  <div class="shadow card">
            <div class="card-body">
                <h5 class="card-title">{{j.name}}</h5>
                <p><b>{{j.priority}}</b></p>
                <p><b>{{j.date}}</b></p>
                <a class="btn btn-danger" href="{% url 'DeleteView' j.id %}">Delete</a>
                <a class="btn btn-success" href="{% url 'UpdateView' j.id %}">Update</a>
                <a class="btn btn-success" href="{% url 'Taskview' %}">Home</a>
            </div>
        </div>
{% endblock %}